/* h1{
    overflow: hidden;
    border-right:.1em solid rgb(224, 125, 86);
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    animation: 
        typing 3.5s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}
@keyframes typing{
    from{width:0}       
    to{width:40%}
}

@keyframes blink-caret{
    from, to {border-color: transparent}
    50%{border-color: rgb(224, 125, 86)} 
} */

#one{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    animation-name: color1;
    
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    
}

@keyframes color1{
    0%{color: rgb(0, 0, 255);left: 0px; top: 0px;}
    25%{color: rgb(39, 27, 92);}
    50%{color: rgb(81, 81, 211);}
    75%{color: rgb(225, 0, 255);}
    100%{color: rgb(0, 0, 255);left: 400px; top: 400px;}
}

/* 
#two{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;

}

#two:hover{
    animation: rotate1 2s ease-in-out 1 ;
}

@keyframes rotate1{
    0%{transform: rotate(0deg); }
    100%{transform:  rotate(360deg);}
} */